.main-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.need_help,
.pizdec {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
img{
    border-radius: 50%;
}
